@charset "UTF-8";

/*
    Nome: Trabalho Final
    Data: Julho 2020
    Descrição: Programação de Sítios para Internet utilizando HTML5, BOOTSTRAP4, CSS3 E JAVASCRIPT.
    Versão: 1.0
    Autor: Anderson Antunes e Larissa Moreira
*/

/*************************** GERAL ***************************/
.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.session-1,
.session-2 {
  display: flex;
}

.session-1 p,
.session-2 p {
  margin-right: 10px;
}
