@charset "UTF-8";

/*
    Nome: Trabalho Final
    Data: Julho de 2020
    Descrição: Trabalho Final - Programação de Sítios para Internet, HTML5, CSS3, BOOTSTRAP4 e JS.
    Versão: 1.0
    Autor: Anderson Antunes e Larissa Moreira
*/

/*************************** GERAL ***************************/